@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.150)), url('https://image.winudf.com/v2/image1/Y29tLmFuZHJvbW8uZGV2ODg0MTM0LmFwcDEwMzA0Nzlfc2NyZWVuXzRfMTU2OTcwMTYxNV8wODA/screen-4.jpg?fakeurl=1&type=.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #e0fbfc;
}

.container {
    width: 100%;
    text-align: center;
}

.title {
    margin: 30px;
}

main {
    width: 100%;
}

.add-driver {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #293241ce;
}

.players-options {
    outline: 0;
    padding: 10px 70px 10px 13px;
    margin-right: 20px;
    border: 1px solid #e3e3e3;
    background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
    background-color: #fff;
    color: #444444;
    line-height: 16px;
    appearance: none;
    /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
}

option {
    margin: 10px;
    padding: 10px;
}

.btn-add {
    padding: 10px;
    margin-right: 10px;
    ;
}

.btn-clear {
    margin-top: 20px;
    padding: 10px;
    margin-right: 10px;
}

.table-container {
    max-width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

thead tr {
    background-color: #293241ce;
}

tbody tr {
    background-color: #293241ce;
    font-size: 14px;
}

tr:hover {
    cursor: pointer;
}

th, td {
    padding: 5px 20px;
    text-align: center;
}

img {
    width: 36px;
}

.actions input:first-child {
    margin-right: 10px;
}

.actions input {
    padding: 4px;
}

.selected {
    color: #444444;
    background-color: #06d6a0;
}

.piscar {
    animation: pisca-pisca 0.5s ease-in-out infinite both;
    -webkit-animation: pisca-pisca 0.5s ease-in-out infinite both;
    background-color: tomato;
    border: 1px solid transparent;
    color: white;
}

mark {
    background-color: #f8f7ff;
    color: #000814;
    padding: 5px 5px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000814;
}

footer {
    font-size: 12px;
    margin-bottom: 70px;
}

@keyframes pisca-pisca {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes pisca-pisca {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media only screen and (max-width: 768px) {
    .title h1 {
        font-size: 1.4rem;
        text-align: center;
    }
    .players-options {
        padding: 10px 40px 10px 10px;
        font-size: 12px;
    }
    .btn-add, .btn-clear {
        font-size: 12px;
    }
    .names {
        display: none;
    }
    th, td {
        max-width: 60px;
        padding: 3px 3px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    td input {
        padding: 3px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        margin: 0;
    }
    .actions input:first-child {
        margin: 0 0 5px 0;
    }
    .actions {
        max-width: 75px;
    }
}