@import url('https://fonts.googleapis.com/css2?family=Abel&family=Russo+One&display=swap');
* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Russo One', sans-serif;
}

h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

mark {
    color: #cfdbd5;
    background-color: #242423;
    padding: 0 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: #adb5bd;
}

.title-box {
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #023047;
    color: #ffb703;
    height: 150px;
    margin: 20px;
    padding: 20px;
    box-shadow: 8px 8px 0px 0px #219ebc;
}

#items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    margin: 10px;
    background-color: #f5cb5c;
    color: #023047;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #e8eddf;
    margin-bottom: 20px;
    transition: transform .3s;
}

.item-box:hover {
    transform: scale(.90);
    -webkit-transform: scale(.90);
    cursor: pointer;
}

.old {
    box-shadow: -8px 8px 0px 0px #242423;
}

.weight, input {
    box-shadow: 0px 8px 0px 0px #242423;
}

.name {
    box-shadow: 8px 8px 0px 0px #242423;
}

.inputs {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.inputs>input {
    font-size: 20px;
    padding: 8px;
    margin-right: 20px;
    border: none;
    outline: 0;
    text-align: center;
    transition: transform .3s;
}

.info-input:focus, .info-input:hover {
    transform: scale(1.1);
}

.btn:hover {
    transform: scale(0.95);
}

.result {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.planets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #0230474b;
}

.planets:nth-child(2n) {
    flex-direction: row-reverse;
    border-left: 1px solid #0230474b;
}

.pic {
    width: 128px;
    padding: 20px;
    animation: rotatePlanet 60s linear infinite;
}

.result-info {
    font-family: 'Abel', sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.selected {
    border: 6px solid #fb8500;
    transform: scale(.90);
}

@keyframes rotatePlanet {
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:600px) {
    .title-box {
        text-align: center;
    }
    main {
        max-width: 100%;
        height: 100%;
    }
    #items {
        justify-content: center;
        text-align: center;
        padding: 0 5px;
    }
    .item-box {
        font-size: 20px;
    }
    .inputs {
        max-width: 100%;
        padding: 0 5px;
    }
    .inputs>input {
        font-size: 18px;
    }
    input.btn {
        margin: 0;
    }
    .planets {
        flex-direction: column;
        ;
    }
    .planets:nth-child(2n) {
        flex-direction: column;
        ;
    }
    h2 {
        margin-bottom: 5px;
    }
}